src/main/mule/create-order-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Flow: Create Order -->
    <flow name="create-order-flow">
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/orders" allowedMethods="POST"/>

        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    client: payload.client,
    amount: payload.amount as Number,
    status: payload.status
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <db:insert doc:name="Insert" config-ref="ordersdb">
            <db:sql><![CDATA[INSERT INTO orders (client, amount, status) VALUES (:client, :amount, :status)]]></db:sql>
            <db:input-parameters><![CDATA[
                #[{
                    client: payload.client,
                    amount: payload.amount,
                    status: payload.status
                }]
            ]]></db:input-parameters>
        </db:insert>

        <set-payload value="Order Created Successfully" doc:name="Set Payload"/>
    </flow>

</mule>
